
nav.top-nav {
    margin-bottom: 50px;
}

.top-nav a.navbar-brand {
    font-size: 25px;
    padding: 0px;
}

nav.navbar > a.navbar-brand, .jumbotron > .jumbo-title {
    font-family: 'Iceland', cursive;
    color: #527190;
}

.jumbotron > .jumbo-title {
    font-size: 70px;
}

.jumbotron {
    margin-top: 40px;
    margin-bottom: 200px;
    background-color: #f2f3f8;
}

.jumbotron > .lead {
    color: #323d51;
}

.profile-icon {
    width: 100%;
}

.profile-icon-small {
    width: 60%;
}

.profile-img-col-border {
    border-right: 1px dotted #ddd;
}

.profile-info {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
}

.profile-page-info {
    padding-left: 20px;
}

div.page-title {
    margin-bottom: 20px;
    font-family: 'Iceland', cursive;
}

div.page-title > h1 {
    color: #527190;
    font-size: 6.5rem;
}

.profile-card-row {
    margin-bottom: 60px;
    margin-top: 20px;
}

.profile-card-row > div > .card {
    background: #f2f3f8;
}

.idea-details-row {
    margin-bottom: 40px;
}

.idea-profile-card-row {
    margin-bottom: 40px;
    background: #f2f3f8;
}

a.idea-container {
    text-decoration: none;
}

a.idea-container .shadow:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
}

.idea-container .card-body {
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    color: #323d51;
}

.card-header {
    background-color: #527190;
    color: white;
}

body, html {
    height: 100%;
}

body {
    background-image: url("tech-buildings.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.form-group {
    margin-bottom: 2rem;
}

.card-body.user-form {
    padding: 1.75rem;
    background: #f2f3f8;
}

.form-control[readonly] {
    background: white;
}

.profile-header {
    position: relative;
    top: 65px;
}

.profile-background {
    background: #527190;
}

.idea-details-readonly {
    padding: 15px 40px 0px;
    background: #f2f3f8;
}

.edit-link {
    position: relative;
    top: 30px;
    z-index: 1000;
}

.fas.fa-thumbs-up, .far.fa-thumbs-up  {
    position: relative;
    z-index: 1000;
}

.team .img-thumbnail {
    width: 70%;
    margin-bottom: 15px;
}

.team {
    padding: 40px 40px;
    background: #f2f3f8;
    margin-bottom: 200px;
    margin-top: 50px;
}

.team .col-sm-4 {
    padding: 0px 40px;
}

.web-name {
    color: font-family: 'Iceland', cursive;
}

.fa-github, .fa-github-alt, .fa-github-square {
    font-size: 30px;
    color: #007bff;
}

.profile-team-idea-row {
    margin-bottom: 200px;
}

.fa-user-circle {
    font-size: 20px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}

.user-nav-item {
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.fas.fa-edit {
    color: #007bff;
}

.profile-background h5 {
    margin: 0px;
}

.signup-form, .login-form {
    margin-bottom: 200px;
}

.idea-card-body {
    padding-top: 0px;
}

.fa-user-plus, .fa-user-minus {
    transform: scaleX(-1);
    margin-right: 4px;
}

footer > nav.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

footer > nav.navbar {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Iceland', cursive;
}

footer > nav.navbar p {
    margin-bottom: 0px;
}

footer > nav.navbar a.navbar-brand:hover {
    color: #007bff;
}

