<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Header Fragment -->
    <div th:replace="fragments/fragments :: head"></div>
</head>
<body>

<!-- Navigation Fragment -->
<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center page-title">
            <h1>Idea Details</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <!-- Profile -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-0 profile-background">
                    <div class="media align-items-end profile-header">
                        <div class="mr-3">
                            <img src="/user-icon.png" alt="User Icon"  width="200" class="mb-2 rounded-circle img-thumbnail">
                            <span th:if="${team}">
                                <a th:href="'/teamUp/' + ${idea_details.id}" class="btn btn-primary btn-sm btn-block">
                                    <i class="fas fa-user-minus"></i> Leave Team
                                </a>
                            </span>
                            <span th:unless="${team}">
                                <a th:href="'/teamUp/' + ${idea_details.id}" class="btn btn-primary btn-sm btn-block">
                                    <i class="fas fa-user-plus"></i> Join Team
                                </a>
                            </span>
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h2 class="mt-0 mb-1" th:text="${ideaUser.firstName + ' ' + ideaUser.lastName}">Test User</h2>
                            <h5 class="small mb-4"><i class="far fa-envelope"></i> <span th:text="${ideaUser.username}">email@email.com</span></h5>
                        </div>
                    </div>
                </div>


                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">

                        <span th:if="${user.id != idea_details.user.id}">
                            <span th:if="${like}">
                                <li class="list-inline-item">
                                    <a class="font-weight-bold mb-0 d-block" th:href="'/likeIdea/' + ${idea_details.id}"><i class="fas fa-thumbs-up"></i></a>
                                </li>
                            </span>
                            <span th:unless="${like}">
                                <li  class="list-inline-item">
                                    <a class="font-weight-bold mb-0 d-block" th:href="'/likeIdea/' + ${idea_details.id}"><i class="far fa-thumbs-up"></i></a>
                                </li>
                            </span>
                        </span>




                        <li  class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="${likesForSize}"></h5><small class="text-muted"> Likes</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="${ideas.size()}">10</h5><small class="text-muted"> Ideas</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="${teamForSize.size()}">4</h5><small class="text-muted"> Teams</small>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col idea-details-readonly">
                        <!-- Idea Details -->
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" readonly name="title" class="form-control" id="title" aria-describedby="title" th:value="${idea_details.title}">
                        </div>

                        <div class="form-group">
                            <label for="idea">Description</label>
                            <textarea name="idea" readonly class="form-control" id="idea" rows="4" th:text="${idea_details.body}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="info">Additional Info</label>
                            <textarea name="info" readonly class="form-control" id="info" rows="2" th:text="${idea_details.info}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row profile-card-row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card shadow">
                <div class="card-header">
                    Comments
                </div>
                <div class="card-body">
                    <form method="POST" action="/ideaPage/comment" class="mb-4">
                        <div class="form-group">
                            <label for="body">Enter your comment here:</label>
                            <textarea name="body" class="form-control" id="body" aria-describedby="body" maxlength="250" rows="2" required></textarea>
                        </div>
                        <input type="hidden" name="ideaId" th:value="${idea_details.id}">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <ul class="list-group list-group-flush">
                        <span th:each="comment : ${comments}"
                           class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${comment.name}">Test 1</h5>
                                <span th:if="${comment.commenting_user.id == user.id}">
                                    <a data-toggle="modal" th:data-target="'#' + ${comment.id}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a th:href="'/commentDelete/' + ${comment.id}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </span>
                            </div>
                            <p class="mb-1" th:text="${comment.body}"></p>
                            <small th:text="${comment.createdAt}"></small>

                            <!-- Modal -->
                            <div class="modal fade" th:id="${comment.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="/commentUpdate">
                                            <div class="modal-body">
                                                <div class="form-group">

                                                    <label for="bodyModal">Comment:</label>
                                                    <input type="text" name="body" class="form-control" th:value="${comment.body}"
                                                           id="bodyModal" aria-describedby="body" required>
                                                </div>
                                                <input type="hidden" name="ideaId" th:value="${idea_details.id}">
                                                <input type="hidden" name="commentId" th:value="${comment.id}" >
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>