<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Header Fragment -->
    <div th:replace="fragments/fragments :: head"></div>
</head>
<body>

<!-- Navigation Fragment -->
<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center page-title">
            <h1>Profile</h1>
            <hr>
        </div>
    </div>

    <div class="row profile-card-row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-4 profile-img-col-border">
                        <div class="text-center">
                            <img src="/profile-icon.jpg" class="profile-icon" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th scope="row">Full Name</th>
                                <!-- <td><span class="font-weight-normal" th:text="${user.firstName}"></span> <span class="font-weight-normal" th:text="${user.lastName}"></span></td> -->
                                <td><span class="font-weight-normal">Test User</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <!-- <td><span class="font-weight-normal" th:text="${user.email}"></span></td> -->
                                <td><span class="font-weight-normal">test@email.com</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Ideas</th>
                                <!-- <td><span class="font-weight-normal" th:text="${user.ideas}"></span></td> -->
                                <td><span class="font-weight-normal">10</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Followers</th>
                                <!-- <td><span class="font-weight-normal" th:text="${user.followers}"></span></td> -->
                                <td><span class="font-weight-normal">4</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <h5 class="card-header">Teams</h5>
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 1</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 2</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 3</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <h5 class="card-header">Ideas</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 1</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 2</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 3</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <h5 class="card-header">Followers</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 1</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 2</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Test 3</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>